<main>
  <div class="z-0 absolute w-full h-full h-[60vh] 
              bg-gradient-to-r from-slate-900 to-slate-700 flex flex-column items-center justify-center
              p-24 origin-top skew-y-3 -translate-y-10">
  </div>
  <header class="z-10 relative flex items-center justify-center mb-4 h-20">
    <h1 class="text-4xl text-white font-bold">Esdras V0</h1>
  </header>
  <article class="z-10 relative container mx-auto">
    <app-coletor></app-coletor>
  </article>
  <footer class="relative container my-4 mx-auto flex items-center justify-center">
    <p>Made with 
      <span class="relative">
        <fa-icon class="relative text-sky-500 hover:animate-pulse" [icon]="faHeart"></fa-icon>
      </span> by 
      <span class="">
        <a href="https://github.com/TavaresW-lima" target="_blank" 
          class="font-medium transition-colors relative
                before:block before:content-[''] before:absolute before:bg-sky-500 
                before:inset-x-0 before:bottom-0 before:w-0 before:h-px before:transition-all
                hover:before:w-full" >
          William Tavares
        </a>
      </span>
    </p>    
  </footer>
</main>