<form #formEspectador="ngForm" novalidate>
    <div class="container flex items-end justify-start gap-x-3 z-10">
        <div class="w-5/12">
            <label class="w-full mx-2 text-slate-50" for="nome">
                <span class="block mb-0">Nome</span>
                <input 
                    [(ngModel)]="form.nome"
                    class="bg-transparent mt-0 w-full pt-0 pb-1 pl-1 border-0 border-b-2 border-slate-50 focus:border-b-3 focus:border-sky-500 focus:ring-0 text-slate-50 transition-colors"
                    type="text" 
                    name="nome" 
                    id="nome"
                    #inputNome
                    appAutoFocus
                    required
                />
            </label>
        </div>
        <div class="w-3/12">
            <label for="local" class="text-slate-50">
                <span class="block mb-0">Local</span>
                <input 
                    [(ngModel)]="form.localidade"
                    class="bg-transparent mt-0 w-full pt-0 pb-1 pl-1 border-0 border-b-2 border-slate-50 focus:border-b-3 focus:border-sky-500 focus:ring-0 text-slate-50 transition-colors"
                    type="text" 
                    name="local" 
                    id="local"
                    required
                />
            </label>
        </div>
        <div class="w-3/12">
            <label for="tipo">
                <span class="block mb-0 text-slate-50">Tipo</span>
                <select
                    name="tipo" 
                    class="bg-transparent mt-0 w-full pt-0 pb-1 pl-1 border-0 border-b-2 border-slate-50 focus:border-b-3 focus:border-sky-500 focus:ring-0 text-slate-50 transition-colors"
                    [(ngModel)]="form.tipo"
                >
                    <option class="text-zinc-800" [value]="'MEMBRO BRASIL'">Membro</option>
                    <option class="text-zinc-800" [value]="'MEMBRO EXTERIOR'">Exterior</option>
                    <option class="text-zinc-800" [value]="'PASTOR'">Pastor</option>
                    <option class="text-zinc-800" [value]="'MISSIONARIO'">Missionário</option>
                </select>
            </label>
        </div>
        <div class="w-1/12">
            <button
                type="submit"
                class="px-4 py-2 border-2 cursor-pointer border-slate-50 text-slate-50 font-bold 
                       hover:border-sky-500 hover:text-sky-500 hover:bg-white/5 
                       active:text-sky-600 active:border-sky-600 
                       disabled:text-slate-50/50 disabled:border-slate-50/50 disabled:cursor-not-allowed disabled:bg-transparent
                       transition-colors"
                [disabled]="!formEspectador.form.valid" 
                (click)="add()">
                Adicionar
            </button>
        </div>
    </div>
</form>
<div class="container mt-14 mb-4">
    <ui-lista-espectadores
        [(nomeList)]="nomeList"
    ></ui-lista-espectadores>
</div>