<ng-container *ngIf="nomeList">
    <div appFileUploadOverlay (onUpload)="onListaUpload($event)">        
        <div class="w-full flex items-end justify-between">
            <div class="flex items-center w-1/2 justify-start">
                <ui-upload-file-button
                    (onUpload)="onListaUpload($event)"
                >
                    Enviar Lista
                </ui-upload-file-button>
                <button 
                    class="text-sm px-2 ml-2 py-1 cursor-pointer border border-slate-50 text-slate-50
                           hover:border-sky-500 hover:text-sky-500 hover:bg-white/5 
                           active:text-sky-600 active:border-sky-600 transition-colors
                           disabled:text-slate-50/50 disabled:border-slate-50/50 disabled:cursor-not-allowed disabled:bg-transparent"
                    (click)="exportar()"
                    [disabled]="nomeList.length == 0"
                >
                    <fa-icon [icon]="pdf"></fa-icon>
                    Exportar Lista
                </button>
                <button
                    class="text-sm px-1 ml-2 cursor-pointer text-slate-50 rounded-full
                        hover:border-sky-500 hover:text-sky-500 hover:bg-white/5 
                        active:text-sky-600 active:border-sky-600 transition-colors transition-opacity"
                    (click)="toggleSort()"
                >
                    <fa-icon class="mr-1" [icon]="sort"></fa-icon>
                    <ng-container [ngSwitch]="printOrderSorting">
                        <span *ngSwitchCase="false">Ordem de inserção</span>
                        <span *ngSwitchCase="true">Ordem de impressão</span>
                    </ng-container>
                </button>
            </div>
            <div class="flex items-end w-1/2 justify-end">
                <div class="w-3/5">
                    <label class="flex items-center relative text-slate-50" for="nomeSearch">
                        <fa-icon
                            class="absolute left-px text-slate-50" 
                            [icon]="searchLens"
                        ></fa-icon>
                        <input
                            [ngModel]="nomeFilter"
                            (ngModelChange)="onFilterChange($event)"
                            class="bg-transparent mt-0 w-full pt-0 pb-1 pl-5 border-0 border-b-2 border-slate-50 text-slate-50
                                   focus:border-b-3 focus:border-sky-500 focus:ring-0 transition-colors"
                            type="text" 
                            name="nomeSearch" 
                            id="nome"
                            required
                            placeholder="Pesquisar..."
                        />
                    </label>
                </div>
            </div>
        </div>
        <ag-grid-angular
            style="width:100%"
            domLayout="autoHeight"
            class="ag-theme-alpine mt-2"
            [overlayNoRowsTemplate]="'Nenhum nome na lista'"
            [columnDefs]="columnDefs"
            [rowData]="nomeList"
            [animateRows]="true"
            [getRowId]="getRowId"
            [isExternalFilterPresent]="isExternalFilterPresent"
            [doesExternalFilterPass]="doesExternalFilterPass"
            [context]="gridContext"
            [rowSelection]="'multiple'"
            (gridReady)="onGridReady($event)"
        ></ag-grid-angular>
    </div>
</ng-container>